services:
  app:
    build: .
    container_name: energy_tracker
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./frontend:/app/frontend
      - ./app:/app/app
    restart: unless-stopped
